@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}
.nav-bar{
    color: #041630;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    line-height: 1.15;
    letter-spacing: normal;
    box-sizing: border-box;
}
.nav-bar2{
    padding-left: 5rem;
}
.nav-bar3{
    padding-left: 5rem;
}
.nav-bar4{
    padding-left: 5rem;
    
}

#logo{
    height: 75px;
    max-width: 100%;
    line-height: 1.15;
    padding-left:60px;
    flex-wrap: wrap;
    display: inline;
    display: flex;
    margin: 0px 10px 0px 0px;
    object-fit: cover;
    object-fit: contain;
}
.letstalk{
    color: red;
    padding-top: 30px;
    justify-content: space-between;
    
}
.header{
  margin: 0rem 5rem 0rem 0rem;
  max-width: 1500px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#headings{
    color: #041630;
    font-stretch: normal;
    font-style: normal;
    padding: 280px 80px 300px 270px;
    font-size: large;
    }

.h-1-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px 0px 120px;
    min-height: 100vh;
    
}

.heading-img{
    box-sizing: border-box;
    position: relative;
    top: 0;
    right: 0;
    height: 50vw;
    width: 50vw;
}
.heading-img > img{
   
    height: 100%;
    width: 100%;
    object-fit: fill;
    margin: -220px 0px 10px -45px;
}